.employee-data-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-data-table thead tr th {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: left;
}

.employee-data-table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.employee-data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employee-data-table tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.employee-data-table tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
